.header {
  background-image: url("../img/banner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  .wrap {
    position: relative;
    text-align: center;
    .menu {
      position: relative;
      margin: 0 auto;
      padding-top: 20px;
      padding-bottom: 20px;
      max-width: 1170px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      img {
        margin-top: 10px;
        max-width: 189px;
        max-height: 24px;
        display: block;
        z-index: 10;
      }
      .nav {
        display: flex;
        justify-items: flex-end;
        li {
          @extend %upper;
          @include raleway_700;
          font-size: 13px;
          margin-left: 60px;
          list-style-type: none;
          a {
            color: rgba(255, 255, 255, 0.75);
            text-decoration: none;
          }
        }
      }
      .burger {
        display: none;
        width: 30px;
        height: 20px;
        margin-top: 10px;
        cursor: pointer;
        position: relative;
        .burger_line {
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #ffffff;
          transition: 0.3s all linear;
        }
        .burger_line_first {
          top: 0;
        }

        .burger_line_second,
        .burger_line_thrid {
          height: 2px;
          top: 50%;
          transform: translateY(-50%);
        }

        .burger_line_fourth {
          bottom: 0;
        }
      }
      .burger_active .burger_line_first,
      .burger_active .burger_line_fourth {
        opacity: 0;
      }

      .burger_active .burger_line_second {
        transform: translateY(-50%) rotate(45deg);
      }
      .burger_active .burger_line_thrid {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
    .menu_mobile {
      top: -1000px;
      position: absolute;

      left: 0;
      right: 0;
      text-align: center;
      ul {
        margin: 0;
        padding: 0;
        .menu_item {
          @extend %upper;
          @include raleway_700;
          font-size: 24px;
          list-style-type: none;
          line-height: 2.5;
          a {
            color: rgba(255, 255, 255, 0.75);
            text-decoration: none;
          }
        }
      }
    }
    .inner_text {
      padding-bottom: 156px;
      h1 {
        @extend %upper;
        @include openSans_700;
        margin: 0 auto;
        font-size: 64px;
        line-height: 1.1;
        color: #ffffff;
        max-width: 861px;
        padding-top: 156px;
        padding-bottom: 41px;
      }
      .subtitle {
        margin: 0 auto;
        max-width: 912px;
        @include raleway_500;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        color: #ffffff;
      }
      .button {
        @extend %upper;
        @include raleway_500;
        display: block;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 75px;
        bottom: 2%;
        width: 200px;
        height: 46px;
        background-color: #e84545;
        color: #ffffff;
        border-radius: 2px;
        border: none;
        outline: none;
        font-size: 13px;
      }
      .button:hover {
        border: 1px solid #ffffff94;
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {
    .wrap {
      margin-left: 3%;
      margin-right: 3%;
    }
  }
}
@media (max-width: 1024px) {
  .header {
    .wrap {
      .menu {
        border: none;
        .burger {
          display: block;
        }
        .nav {
          display: none;
        }
      }
      .menu_mobile {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }
      .menu_active {
        position: relative;
        top: 0;
        transition: 0.7s ease;
      }
      .inner_text {
        h1 {
          max-width: 561px;
          font-size: 30px;
        }
        .subtitle {
          font-size: 18px;
          max-width: 612px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    .wrap {
      .inner_text {
        padding-bottom: 0;
        h1 {
          padding-top: 100px;
          max-width: 500px;
          font-size: 24px;
        }
        .subtitle {
          font-size: 16px;
          max-width: 580px;
        }
      }
    }
  }
}
@media (max-width: 568px) {
  .header {
    .wrap {
      .inner_text {
        padding-bottom: 0;
        h1 {
          padding-top: 100px;
          max-width: 500px;
          font-size: 20px;
        }
        .subtitle {
          font-size: 14px;
          max-width: 450px;
        }
      }
    }
  }
}
